$rem: (
	mjmj: (
		length: 9
	),
	wnwn: (
		length: 11
	)
);
$rem-width: 753px;
$rem-height: 651px;

html,
body,
main {
	width: $rem-width;
	height: $rem-height;
}

body {
	margin: 0;
}

@each $k, $v in $rem {
	$l: map-get($v, length);

	@keyframes #{$k} {
		100% {
			background-position-y: $rem-height * $l;
		}
	}

	.#{$k} {
		background-image: url('../../images/#{$k}.png');
		width: $rem-width;
		height: $rem-height;
		animation: $k #{1 / 15 * $l}s steps($l) infinite;
	}
}
