doctype html
html
	head
		script(src=self.cwd+'/node_modules/lodash/lodash.js')
		script(src=self.cwd+'/node_modules/react/dist/react-with-addons.min.js')
		script(src=self.cwd+'/node_modules/react-dom/dist/react-dom.min.js')
		link(rel='stylesheet' href='index.css')
	body
		main
		script(src='index.js')